<table cellpadding = "0" cellspacing = "0" width = "100%" class = "table">
  <thead>
    <tr>
      <th width = "33%">Nom</th>
      <th width = "33%">Abbréviation</th>
      <th width = "34%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @profiles.blank? %>
			<tr>
				<td colspan = "3">Aucun profil présent dans la base de données</td>
			</tr>
		<% else %>
		  <% @profiles.each do |profile| %>		    
		    <tr>
		      <td>
		        <%= profile.name %>	
					</td>
					<td>
					  <%= profile.shortcut %>
					</td>
					<td>
					  <% if current_user.profile.edit_profile %>
					    <a title = "Modifier le profil" href = "<%= edit_profile_path(profile.id) %>" class = "button green">
					      <div class = "icon">			
					        <span class = "ico-pencil"></span>		    
					      </div>
					    </a>
					    <a title = "Modifier les droits" href = "/profiles/edit_rights" class = "button blue">
					      <div class = "icon">			
					        <span class = "ico-random"></span>		    
					      </div>
					    </a>	 
					    <% if (profile.published == true or profile.published == nil) %>                 
		            <%= link_to "<div class = 'icon'><span class = 'ico-cancel'></span></div>".html_safe, disable_disable_profile_right_path(profile.id), :class => "button red", :title => "Désactiver le profil", :confirm => "Êtes vous sûr de vouloir désactiver ce profil?" %>			            			            	            
		          <% else %>
		            <%= link_to "<div class = 'icon'><span class = 'ico-checkmark'></span></div>".html_safe, enable_disable_profile_right_path(profile.id), :class => "button green", :title => "Activer le profil", :confirm => "Êtes vous sûr de vouloir activer ce profil?" %>			            
		          <% end %>		
					  <% end %>    
					</td>
			  </tr>
			<% end %>
		<% end %>
  </tbody>
</table>	

