<div class = "head <%= @head_color %>" >
  <div class = "icon" >
    <span class = "ico-list-3"></span>		      
  </div>  
  <h2>Liste des comptes <%= @head_status %></h2>
  <ul class = "buttons">
    <li>
      <a href = "javascript:history.go(-1);" alt = "Aller à la page précédente">
        <div class = "icon">
          <span class = "ico-arrow-left">
                         
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class = "data-fluid">
  <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
    <div class="dataTables_filter" id="DataTables_Table_1_filter" style = "float:left;margin: 5px 0px 10px 0px;">
      <%= form_tag ("/rechercher-un-compte") do %>
        <label>
          <b>Recherche:</b>          
          <%= text_field_tag "terms", params[:terms], :placeholder => "Termes de recherche" %>    
        </label>
      <% end %>
    </div>  
    <table width="100%" class="table tickets">
      <tbody>
        <% if @accounts.blank? %>
          <tr>
            <td colspan = "4">Aucun résultat à afficher</td>
          </tr>
        <% else %>
          <% @accounts.each do |account| %>
            <tr>
              <td width="20%" class="<%= @line_color %>">
                <span class="label <%= @label %>"><%= account["compteNumero"] %></span>
              </td>
              <td width="20%">
                <%= account["compteMontant"] %> FCFA <span class="mark">Né le <%= DateTime.parse(account["compteDate"]).strftime("%d/%m/%Y") %></span>
              </td>
              <td width="30%">
                <a class="<%= @name_color %>"><b><%= account["comptePrenom"] %> <%= account["compteNom"] %></b></a> <span class="mark"><%= account["compteEmail"] %></span>
              </td>    
              <td width="15%">
                <b>Contact: </b><%= account["comptePhone"] %>
              </td> 
              <td width="15%">
                <a title= "Liste des dépôts" href = "/liste-des-depots?account_id=<%= account['idCompte'] %>&email=<%= account['compteEmail'] %>" class = "button green">
					        <div class = "icon">			
					          <span class = "ico-money-bag"></span>		    
					        </div>
					      </a>
					      <a title= "Liste des retraits" href = "/liste-des-retraits?account_id=<%= account['idCompte'] %>&email=<%= account['compteEmail'] %>" class = "button purple">
					        <div class = "icon">			
					          <span class = "ico-money"></span>		    
					        </div>
					      </a>
					      <% if @head_status == "désactivés" %>
				          <%= link_to "<div class = 'icon'><span class = 'ico-checkmark'></span></div>".html_safe, enable_account_path(account["compteNumero"]), :class => "button green", :confirm => "Êtes vous sûr de vouloir activer ce compte?", :title => "Activer le compte" %>				        
				        <% else %>
				          <%= link_to "<div class = 'icon'><span class = 'ico-remove'></span></div>".html_safe, disable_account_path(account["compteNumero"]), :class => "button red", :confirm => "Êtes vous sûr de vouloir désactiver ce compte?", :title => "Désactiver le compte" %>
				        <% end %>
              </td>                                   
            </tr> 
          <% end %>
        <% end %>                                                                                     
      </tbody>
    </table>                    
    <% unless @accounts.blank? %>
      <div id = "pagination">
        <%= paginate @accounts, :params => { :controller => :accounts, :action => @action.to_sym } %>
      </div>
    <% end %>
  </div>
</div>
