<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Liste des comptes désactivés <small>Affichage de la liste des comptes désactivés</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span12">
    <%= render 'layouts/flash_messages' %>
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !@success_messages.blank? %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
        
  <div class="block">  
    <div class="data-fluid tabbable">                    
      <ul class="nav nav-tabs">
        <li class=""><a data-toggle="" href="<%= enabled_accounts_list_path %>"><b>Comptes activés</b></a></li>
        <li class="active"><a data-toggle="tab" href="#disabled"><b>Comptes désactivés</b></a></li>
      </ul>
      <div class="tab-content">
        <div id="disabled" class="tab-pane active">
          <%
          @head_color = "red"
          @head_status = "désactivés"
          @label = "label-important"
          @line_color = "bl_red"
          @name_color = "cred"
          @accounts = @disabled_accounts
          @action = "disabled_accounts"
        %>
          <%= render partial: "accounts", :locals => {:head_color => @head_color, :head_status => @head_status, :accounts => @accounts, :label => @label, :line_color => @line_color, :name_color => @name_color, :action => @action} %> 
        </div>
      </div>
    </div>
  </div>
</div>
