<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Critères: [<%= params[:terms] %>] <small>Résultats retournés en fonction des critères de recherche</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span12">
    <%= render 'layouts/flash_messages' %>
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !@success_messages.blank? %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
        
    <div class="block">  
      <%
      @head_color = "purple"
      @head_status = ""
      @label = "label-conflict"
      @line_color = "bl_purple"
      @name_color = "cpurple"
      @action = "search"
    %>
      <%= render partial: "accounts", :locals => {:head_color => @head_color, :head_status => @head_status, :accounts => @accounts, :label => @label, :line_color => @line_color, :name_color => @name_color, :action => @action} %>     
    </div>
  </div>
</div>
